<form action="/alterarform" method="POST">
	<p>ID: <input type="number" name="id" readonly="true" value="{{info.id}}"></p>
	<p>Nome: <input type="text" name="nome" value="{{info.nome}}"></p>
	<p>Idade: <input type="number" name="idade" value="{{info.idade}}"></p>
	<p><button type="submit">Alterar</button></p>
</form>
